<footer>
    <div class="bg-secondary mb-0 mt-5 p-5 w-100">
        <img src="/img/logo-2.png" alt="" class="w-25 mt-0 mx-5 d-inline-block rodape">

        <div class="mx-5 d-inline-block">
            <p class="p-1 fs-5 m-0"><a href="/" class="text-white text-decoration-none">Início</a></p>
            <p class="p-1 fs-5 m-0"><a href="/produtos" class="text-white text-decoration-none">Catálogo</a>
                </li>
            <p class="p-2 fs-5 m-0"><a href="/usuario/agendamento"
                    class="text-white text-decoration-none">Agendamento</a></p>
            <p class="p-2 fs-5 m-0"><a href="/doacao" class="text-white text-decoration-none">Doação</a></p>
        </div>

        <div class="text-white mx-5 d-inline-block rodape">
            <p class="m-1">Dúvidas? Entre em contato:</p>
            <div>
                <img src="/img/o-email.svg" alt="" class="d-inline-block">
                <p class="m-1 d-inline-block">atendimento_twinspet@gmail.com</p>
            </div>
            <div>
                <img src="/img/whatsapp.svg" alt="" class="d-inline-block">
                <p class="m-1 d-inline-block">(45) 991835401</p>
            </div>
            <div>
                <img src="/img/telefone.svg" alt="" class="d-inline-block">
                <p class="m-1 d-inline-block">3559-7842</p>
            </div>
            <div>
                <img src="/img/pin-de-localizacao.svg" alt="" class="d-inline-block">
                <p class="m-1 d-inline-block">3901, Rua João Paulo II, Itaipulândia-PR</p>
            </div>
        </div>

    </div>
</footer>
