<header>
    <nav class="navbar navbar-expand-xl gradient-custom">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><img src="/img/logo-2.png" alt="logo petshop"
                    class="pl-5 logo"></a>
            <ul class="nav p-2 fs-5 d-flex mx-2 text-end">
                <li class="nav-item p-1">
                    <a href="/" class="menu-links nav-link  py-1"
                        aria-current="page">Início</a>
                </li>
                <div class="dropdown nav-item p-1">
                    <a class="text-white dropdown-toggle menu-links nav-link py-1" href="#"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Catálogo
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/produtos">Produtos</a></li>
                        <li><a class="dropdown-item" href="/servicos">Serviços</a></li>
                    </ul>
                </div>
                <div class="dropdown nav-item p-1">
                    <a class="text-white dropdown-toggle menu-links nav-link py-1" href="#"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Agendamento
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/usuario/agendamento">Agendar Serviço</a></li>
                        <li><a class="dropdown-item" href="/usuario/meusagendamentos">Meus agendamentos</a></li>
                    </ul>
                </div>
                <li class="nav-item p-1">
                    <a href="/doacao" class="menu-links nav-link py-1">Doação</a>
                </li>
                <li class="nav-item p-1">
                    <a href="/usuario/entrar" class="menu-links nav-link border border-white rounded py-1">Entrar</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
