<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cadastrar-se - Twins Petshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-cadastrar.css">
    <link rel="stylesheet" href="/css/style-fonts.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="card-body row d-flex justify-content-center align-items-center h-100">
            <div class="card w-75 p-3 border rounded-3">
                <div class="col-md-6 col-lg-8 d-flex align-items-center mx-5">
                    <div class="card-body p-4 p-lg-5 text-black">

                        <form method="POST" action="/cadastrar">

                            <div class="d-flex align-items-center mb-3 pb-1">
                                <a href="/"><img src="/img/voltar-seta.svg" alt="" class="d-inline-block m-3"></a>
                                <span class="h1 mb-0 border-bottom border-success titulos p-1">Twins
                                    Petshop</span>
                            </div>

                            <div class="textos">
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Crie sua conta</h5>

                                <div class="form-floating mb-3">
                                    <input data-ls-module="charCounter" maxlength="20" name="nome" type="text"
                                        class="form-control" id="nome" placeholder="Digite seu nome completo" required>
                                    <label for="nome">Nome</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input data-ls-module="charCounter" name="cpf" type="text" class="form-control"
                                        id="cpf" placeholder="Digite seu CPF completo" minlength="14" maxlength="14"
                                        title="Insira seu CPF sem pontos e traços" required>
                                    <label for="cpf">CPF</label>
                                </div>
                                <div name="estado" class="form-floating mb-3">
                                    <select id="estado" name="estado" class="form-select custom-select" required>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                        <option value="EX">Estrangeiro</option>
                                    </select>
                                    <label for="estado">Estado</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input data-ls-module="charCounter" maxlength="20" name="cidade" type="text"
                                        class="form-control" id="cidade" placeholder="Digite o nome da sua cidade"
                                        required>
                                    <label for="cidade">Cidade</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input data-ls-module="charCounter" maxlength="20" name="rua" type="text"
                                        class="form-control" id="rua" placeholder="Digite o nome da sua rua" required>
                                    <label for="rua">Rua</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input data-ls-module="charCounter" maxlength="20" name="telefone" type="text"
                                        class="form-control" id="telefone" placeholder="(00) 00000-0000" required )>
                                    <label for="telefone">Telefone</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input data-ls-module="charCounter" maxlength="40" name="email" type="email"
                                        class="form-control" id="email" placeholder="nome@exemplo.com" required>
                                    <label for="email">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input data-ls-module="charCounter" maxlength="40" name="senha" type="password"
                                        class="form-control" id="senha" placeholder="Crie uma senha segura"
                                        minlength="8" required>
                                    <label for="senha">Senha</label>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success btn-lg btn-block mt-2" type="submit">Cadastrar</button>
                            </div>
                        </form>
                        <div class="gap-2">
                            <p class="textos mb-0 mt-1">Já possui conta?</p>
                            <a href="/usuario/entrar" class="text-white text-decoration-none">
                                <button class="btn btn-primary btn-lg btn-block w-50">Entrar</button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>