<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação Twins Petshop - Tudo para o seu pet!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-doacao.css">
    <link rel="stylesheet" href="/css/style-menu.css">
    <link rel="stylesheet" href="/css/style-fonts.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
    
    <%- include('../../partials/navbarSair.ejs'); %>


    <main>
        <h1 class="text-center p-2 m-3 titulos">Bem-vinda(o) à página de doação!</h1>

        <div class="text-center card border border-0">
            <div class="card-body">
                <div class="card p-2 mx-4 d-inline-block card-texto float-start">
                    <div class="card-body">
                        <h3 class="card-title gradient-custom p-2 titulos">Como funciona?</h3>
                        <p class="textos">Abra o aplicativo do seu banco digital, na área pix escaneie o código QR ao
                            lado e digite o valor desejado para doar. Toda e qualquer doação é bem-vinda!</p>
                    </div>
                </div>

                <div class="card p-2 mx-4 d-inline-block card-pix">
                    <div class="card-body">
                        <h3 class="card-title gradient-custom p-1 titulos">Código PIX</h3>
                        <img src="/img/pix.png" id="pix" alt="imagem pix">
                        <p class="textos">PIX - Celular: 45991465488</p>
                    </div>
                </div>

                <div class="card p-2 mx-4 d-inline-block card-texto float-end">
                    <div class="card-body">
                        <h3 class="card-title gradient-custom p-2 titulos">Para onde vai a doação?</h3>
                        <p class="textos">Sua doação vai direto para nossa conta, que será repassada para ONGS locais de
                            causas animais. Para ver nosso trabalho, visite o instagram @petshop_twins_</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../../partials/footerSair.ejs'); %>

</body>

</html>